p, a {text-shadow: none !important; text-decoration:none;}
div, p, span, h1, h2, .ui-page-theme-a a, button {font-family:'Roboto', 'Open Sans', 'sans serif'; text-shadow: none !important; text-decoration:none; font-weight: 400;}
h1 {color:white; font-size:1.2em; font-weight:300; max-width:600px; margin-left:auto; margin-right:auto; text-align:center;}

li {list-style-type:none;}
ul {padding:0;}




.encours {text-align:center; color:#899ab4;  position: absolute;  top:50%; margin-top:-48px; left: 50%;  margin-left: -24px;}
.icone-retour {top: 1em; left: .5em; color: white !important; position: absolute; z-index: 1;}

.bouton {font-size: 18px; text-align: center;  border: 0; text-decoration: none; box-sizing: border-box; -webkit-transition: all .5s ease;-moz-transition: all .5s ease;-o-transition: all .5s ease;-ms-transition: all .5s ease; transition: all .5s ease;}
.bouton:hover{cursor:pointer;}

.bouton-rond {border-radius:100em;}
.bouton-inline {display:inline-block; vertical-align:middle;}
.bouton-block {display:block; vertical-align:middle;}
.bouton-moyen {padding: 0.5em .8em; margin: .5em;}
.bouton-majuscules {font-size:12px; text-transform:uppercase;}
.bouton-form {width: 230px; margin-left:auto; margin-right:auto;}

.bouton-transparent {color: #eee !important; background-color:transparent;}
.bouton-bleu:hover {color: white !important;}
.bouton-bleu {color: white !important; background-color: #118af5; }
.bouton-bleu:hover {color: white !important; background-color: #0e79d8; }
.bouton-inverse {color: white !important; background-color:rgba(0,0,0,0.3);}
.bouton-inverse:hover{background-color:rgba(0,0,0,0.5);}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper { background-color: #eee; }
.bg-image {background-size: cover;background-repeat:no-repeat;background-position:center center;background-attachment:scroll;}
.bg3 {background-image: url(../img/background3.jpg);}
.blur-bg {background-size: cover;  background-repeat:no-repeat;  background-position:center center;  background-attachment:scroll;  -webkit-filter: blur(15px);  -moz-filter: blur(15px);  -o-filter: blur(15px);  -ms-filter: blur(15px);  filter: blur(15px);  position: fixed;  width: 100%;  height: 100%;  top: 0;  left: 0;  z-index: 0;}

.ui-content{background: transparent;position: relative; padding:0;     overflow: visible; /*overflow:hidden;*/} /*en test pour que le spinner soit visible au chargemetn des pages */
.ui-btn:focus {box-shadow: none !important;}



/* LANDING */
#landing .ui-content {flex-direction: column;  min-height: 100vh;  display: flex;  align-items: center;  justify-content: center; text-align:center;}
.landing-logo{margin:10px 0 20px; }
.landing-intro{margin:10px 0 40px; max-width: 90%;}
.landing-liens {margin:5px auto;}



/* NO INTERNET */
.message-connexion {
    position:absolute;
    text-align:center;
    width:280px;
    left:50%;
    margin-left:-140px;
    top:50%;   
}
.connexion-off {margin-top: -180px;}
.connexion-on { margin-top: -160px;}

.message-connexion h1 {color:#656565;}
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .message-connexion {display: block;position: inherit;margin:30px auto;width:auto;}
}
.message-attente { border-radius:4px; -webkit-border-radius:4px; color:#FFFFFF; max-width: 300px; font-size:16px; margin: 10px auto; padding:5px; display:block; text-align: center;}
.connexion-off .message-attente {background-color:#f7574b;}
.connexion-on .message-attente {background-color:#00b050;}
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
.blink { animation:fade 3000ms infinite; -webkit-animation:fade 3000ms infinite;}

