p, a {text-shadow: none !important;}
div, p, span, h1, h2, .ui-page-theme-a a, button {font-family:'Roboto', 'Open Sans', 'sans serif'; text-shadow: none !important; font-weight: 400;}
h1 {color:white; font-size:28px; font-weight:300; max-width:600px; margin-left:auto; margin-right:auto; text-align:center;}

.encours {text-align:center; color:#787878;}
.icone-retour {top: 1em; left: .5em; color: white !important; position: absolute; z-index: 1;}
.lien-full {position:absolute; left:0; top:0; width:100%; height:100%; z-index:10;}

.bouton {font-size: 18px; text-align: center;  border: 0; text-decoration: none; box-sizing: border-box; -webkit-transition: all .5s ease;-moz-transition: all .5s ease;-o-transition: all .5s ease;-ms-transition: all .5s ease; transition: all .5s ease;}
.bouton:hover{cursor:pointer;}

.bouton-rond {border-radius:100em;}
.bouton-inline {display:inline-block; vertical-align:middle;}
.bouton-block {display:block; vertical-align:middle;}
.bouton-moyen {padding: 0.5em .8em; margin: .5em;}
.bouton-majuscules {font-size:12px; text-transform:uppercase;}
.bouton-form {width: 230px; margin-left:auto; margin-right:auto;}

.bouton-transparent {color: #eee !important; background-color:transparent;}
.bouton-bleu:hover {color: white !important;}
.bouton-bleu {color: white !important; background-color: #118af5; }
.bouton-bleu:hover {color: white !important; background-color: #0e79d8; }
.bouton-inverse {color: white !important; background-color:rgba(0,0,0,0.3);}
.bouton-inverse:hover{background-color:rgba(0,0,0,0.5);}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper { background-color: #eee; }
.bg-image {background-size: cover;background-repeat:no-repeat;background-position:center center;background-attachment:scroll;}
.bg3 {background-image: url(../img/background3.jpg);}
.blur-bg {background-size: cover;  background-repeat:no-repeat;  background-position:center center;  background-attachment:scroll;  -webkit-filter: blur(15px);  -moz-filter: blur(15px);  -o-filter: blur(15px);  -ms-filter: blur(15px);  filter: blur(15px);  position: fixed;  width: 100%;  height: 100%;  top: 0;  left: 0;  z-index: 0;}

.ui-content{background: transparent;position: relative; padding:0; overflow:hidden;}
.ui-footer {background: white; border-bottom: 0;}
.ui-footer .ui-btn {background: white !important; border:0;     color: #aaa !important;}
.ui-footer .ui-btn .svg-inline--fa {display: block; margin:5px auto;}
.ui-footer .ui-btn-active .svg-inline--fa {    color: #118af5;}
.ui-btn:focus {box-shadow: none !important;}


/* ACCUEIL & CONNEXION */
#connexion {background-color: #000000;}
#accueil .ui-content,
#connexion .ui-content {flex-direction: column;  min-height: 100vh;  display: flex;  align-items: center;  justify-content: center; text-align:center;}

.accueil-logo{margin:10px 0 20px ;}
.accueil-intro{margin:10px 0 40px;}
.accueil-liens {margin:5px}

input {background: transparent; color: white; font-size: 18px; font-weight: 300; margin: 0px auto; padding: .5em .3em; border: 0; display: block;  outline: none;}
input#username {border-bottom: 1px solid white;}
.connexion-form img {margin-bottom: 20px; width: 80px;}
#mdp-perdu {font-size:14px; color: #cfcfcf !important;}

.connexion-form {position: relative;}
.status {position: absolute; top: 280px; left: 0; right: 0; color: white;}
.status .svg-inline--fa {color: #d2d2d2; }
.erreur {max-width:220px; padding:0px 5px; margin:auto; border:1px solid #ff9191; background:rgba(255,0,0,0.2);}
.erreur p {font-weight:300; font-size:13px; text-align: center; margin: 0.5em 0;}

/* NEWS */

#news .ui-header {background: transparent; border: 0;}
#news .ui-header .ui-btn {background: transparent; border: 0;}

.news-main-top {background-image: url(../img/background3.jpg); height: 250px; margin-top: -21px; position:relative; line-height: 1; }
#news-detail .news-main-top {background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url(../img/background3.jpg);background-repeat: no-repeat; background-position: center center; background-size: cover;}
.news-main-top-titre {position: absolute;top: 50%;margin-top: -40px;text-align: center;left: 0;right: 0;}
.news-main-top-nav {padding:10px 0; position:absolute; bottom:0; text-align:center;left: 0; right: 0;}
.btn-nav {width:85px;}

#news-container {padding:10px;}
.news {padding: 10px;background: #fff;display: table;margin-bottom: 10px;position: relative;border-radius: 4px;border-bottom: 1px solid #dadada;}
.news .news-image-container {display:table-cell; vertical-align:middle;  padding:5px;}
.news .news-image-container img {width:70px; height:70px; border-radius:100px; padding:5px;}
.news .news-contenu {display:table-cell; vertical-align:middle; padding:5px;width: 100%;}
.news .news-contenu .news-title {font-size:17px; font-weight:bold;}
.news .news-contenu .news-date{font-size:15px; color:#aaa; position:relative; margin-top:5px;}
.voir-news {position: absolute; top: 50%; margin-top:-.5em; right: 10px; color: #ccc !important;}
.news p {margin:0px;}


/* NEWS DETAILS */
.date-inv {color: #eee; font-weight: 300;font-size: 17px;background: rgba(0,0,0,0.7);padding: .3em 1em; margin: .5em;border-radius: 1em; display: inline-block;}
#news-detail-contenu {padding:20px;}
#news-detail-contenu img {max-width: 90%; height: auto; margin: auto; display: block;}



