* {-webkit-tap-highlight-color: rgba(0,0,0,0);}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body {font-size: 14px;}
@media screen and (min-width:700px) {body {font-size: 18px;}}

div, p, span, h1, h2, h3, .ui-page-theme-a a,  .ui-page-theme-b a, body, input, select, textarea, button, .ui-btn {font-family:'Roboto', 'Open Sans', 'sans serif'; text-shadow: none !important; text-decoration:none; font-weight: 400;}
h1 {color:white; font-size:1.2em; font-weight:300;margin-left:auto; margin-right:auto; text-align:center;}
li {list-style-type:none;}
ul {padding:0; margin:0;}
h2 {font-weight: 300; font-size:1.4em; text-align:center; margin-bottom: 0.5em;}
.ui-content{background: transparent;padding:0; overflow: visible; }
.ui-btn:focus {box-shadow: none !important;}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper { background-color: #f0f0f5; }

.icone-retour {top: 1em; left: .5em; color: white !important; position: absolute; z-index: 1;}
.bouton {font-size: 1.2em; text-align: center;  border: 0; text-decoration: none; box-sizing: border-box; -webkit-transition: all .5s ease;-moz-transition: all .5s ease;-o-transition: all .5s ease;-ms-transition: all .5s ease; transition: all .5s ease;}
.bouton:hover{cursor:pointer;}
.bouton-rond {border-radius:100em;}
.bouton-inline {display:inline-block; vertical-align:middle;}
.bouton-block {display:block; vertical-align:middle;}
.bouton-moyen {padding: 0.6em .8em; margin: .5em;}
.bouton-majuscules {font-size:.75em; text-transform:uppercase;}
.bouton-form {width: 14em; margin-left:auto; margin-right:auto;}
.bouton-transparent {color: #eee !important; background-color:transparent;}

.bouton-orange {color: white !important; background-color: #FF8800 !important;}
.bouton-orange:hover,
.bouton-orange:active {background-color: #ca6a00 !important;}

.bouton-bleu {color: white !important; background-color: #118af5!important; }
.bouton-bleu:hover,
.bouton-bleu:active { background-color: #0e79d8!important; }

.bouton-vert {color: white !important; background-color: #00B050!important; }
.bouton-vert:hover, 
.bouton-vert:active { background-color: #008039!important; }

.bouton-inverse {color: white !important; background-color:rgba(0,0,0,0.3)!important;}
.bouton-inverse:hover{background-color:rgba(0,0,0,0.5)!important;}

.bouton-twitter {background: #56BDF2;}
.bouton-twitter:hover,
.bouton-twitter:active{background:#129ce7; }
.bouton-facebook {background: #3B5998;color: white !important;}
.bouton-facebook:hover,
.bouton-facebook:active{background:#283e68; }

.bg-image {background-size: cover;background-repeat:no-repeat;background-position:center center;background-attachment:scroll;}
.bg3 {background-image: url(../img/background3.jpg);}
.blur-bg {background-size: cover;  background-repeat:no-repeat;  background-position:center center;  background-attachment:scroll;  -webkit-filter: blur(15px);  -moz-filter: blur(15px);  -o-filter: blur(15px);  -ms-filter: blur(15px);  filter: blur(15px);  position: fixed;  width: 100%;  height: 100%;  top: 0;  left: 0;  z-index: 0;}


/* LANDING PAGE */
#landing .ui-content {flex-direction: column;  min-height: 100vh;  display: flex;  align-items: center;  justify-content: center; text-align:center;}
.landing-logo{margin-top:-2em;}
.landing-liens {margin: 5em auto 1.5em auto; position: relative;}
.oubien {position:relative;  color: #c5c5c5; font-size: .8em;margin: 0.5em; }
.oubien:after{content:''; border-bottom:1px solid #c5c5c5; position:absolute; top: 50%; width: 25%; right: 10%; }
.oubien:before{content:''; border-bottom:1px solid #c5c5c5; position:absolute; top: 50%;    width: 25%;    left: 10%; }
#landing-status {position: absolute; left: 0; color: white; top:170px; width:300px; margin:-35px; }
#landing-status .count {padding: 0.1em; border-color: #ffffff; color: #ffffff; font-size: 30px; margin: .3em; background: rgba(255, 255, 255, 0.1);}
.connexion-info {margin: 10px auto 0; color: #ffffff; border-top: 1px solid #ffffff; padding: 0.5em; background: rgba(255, 255, 255, 0.2);}
.connexion-info p {font-weight: 300; font-size: 14px; text-align: center; margin: 0; }
#lien-visite {bottom: 1em; right: .5em; color: #ddd; font-size:.9em; position: absolute; z-index: 1;}
#lien-visite p {margin: 0 7px 0 0; font-weight: 300;  display: inline-block;}
.swiper-container {width: 100%;height: 150px;color:white;}
.swiper-slide {padding:10px;box-sizing: border-box;text-align: center;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.swiper-slide-inside {border: 1px solid rgb(4, 29, 51);background: rgba(4, 29, 51, 0.37);width: 100%;height: 100%;padding:0 10px;line-height: 132px;border: none;}
.swiper-pagination {left: 0;RIGHT: 0;}
.swiper-pagination-bullet {margin: 0 4px;opacity : 1;background:transparent;border: 1px solid white;}
.swiper-pagination-bullet-active {background: #ffffff !important;}
.swiper-slide h1 {line-height: 1.3;display: inline-block;vertical-align: middle;}


/* NO INTERNET */
.message-connexion {position:absolute;text-align:center;width:280px;left:50%;margin-left:-140px;top:50%;}
.connexion-off {margin-top: -180px;}
.connexion-on { margin-top: -160px;}
.message-connexion h1 {color:#656565;}
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .message-connexion {display: block;position: inherit;margin:30px auto;width:auto;}
}
.message-attente { border-radius:4px; -webkit-border-radius:4px; color:#FFFFFF; max-width: 300px; font-size:16px; margin: 10px auto; padding:5px; display:block; text-align: center;}
.connexion-off .message-attente {background-color:#f7574b;}
.connexion-on .message-attente {background-color:#00b050;}
.blink { animation:fade 3000ms infinite; -webkit-animation:fade 3000ms infinite;}
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}


